.App {
  width: 100%;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.navMenu {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 0;
  /* transition: all 5s ease; */
}

.MainBody {
  max-width: clamp(100px, 80vw, 1000px);
  margin-top: 200px;
}

.topBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 3rem;
}

.navBar {
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
  margin-right: 20px;
  margin-top: 40px;
}

.link {
  text-decoration: none;
  display: inline;
  margin-top: 20px;
  margin-left: clamp(10px, 1.5vw, 50px);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

#night.link {
  color: #ffff;
}

#night.highlight {
  color: #fe29e7;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: start;
  /* margin: 30px; */
  /* height: 700px; */
  /* width: 80%; */
}

#night.highlight.sectionHighlight {
  font-size: 45px;
  font-weight: bolder;
}

#night.sectionMain {
  font-size: 45px;
  font-weight: bolder;
  color: #ffff;
}

.sectionTop {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 60vw;
}

.sectionBox {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bottomSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  bottom: -150px;
  right: 0;
}

.line {
  max-width: clamp(70%, 40vw, 100%);
  margin-top: 12px;
}

.sideLine {
  width: 15vh;
}

.sideLineL {
  width: 20vh;
}

.sideText {
  font-size: 18px;
  font-weight: normal;
  color: #8791AD;
  text-decoration: none;

}

.sidebars {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-;
  width: 100vw;
  z-index: 1;
  background-color: #fe29e7;
}

.sideRight {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* width: 30vw; */
  height: 300px;
  bottom: 0;
  right: -125px;
  transform: rotate(90deg);
  column-gap: 10px;
}
.sideLeft {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 300px;
  bottom: 0;
  left: -125px;
  transform: rotate(90deg);
  column-gap: 10px;
}

.contact {
  bottom: -100px;
}

.creditBox {
  margin-top: 300px;
  font-size: 16px;
  color: #8892B0;
  height: 100px;
  width: 40vw;
}

@media all and (max-width: 768px) {

  .creditBox {
    margin-top: 200px;
    width: 80vw;
  }

  .link {
    font-size: 18px;
  }


  .navMenu.active {
    padding-top: -40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60vw;
    height: 100vh;
    row-gap: 25px;
    align-items: center;
    background-color: #112240;
    right: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 2;
  }

  .sideRight, .sideLeft {
    display: none;
  }
}

@media all and (max-width: 1050px) {
}