.Intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0px auto;
  max-width: 1000px;

  row-gap: 5px;
}

.JapPhrase {
  color: #6af9e2;
  text-align: left;
  font-size: 22px;
  font-weight: bold;
}

.Name {
  color: #ffff;
  font-size: clamp(50px, 10vw, 90px);
  font-weight: bold;
  text-align: left;

}


.SubHead {
  color: #8692b0;
  font-size: clamp(30px, 8vw, 70px);
  font-weight: bold;
  text-align: left;
}

.Paragraph {
  color: #8692b0;
  font-size: 20px;
  text-align: left;
  margin: 20px 0px;
}

.bodyBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 55%;
}

.hero {
  position: absolute;
  right: 0px;
  top: 400px;
  height: 600px;
  width: auto;
  z-index: 2;
}

@media all and (max-width: 760px) {
  .Intro {
    margin: 10px 30px;
  }

  .Name {
    font-size: 60px;
  }

  .SubHead {
    font-size: 40px;
  }
}

@media all and (max-width: 1200px) {
  .halfLogo {
    display: none;
  }
}