.section {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 200px;
  row-gap: 50px;
  position: relative;
}

.headingBox {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.featuredProject {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 50px;
  margin-top: 50px;
}

.subHeading {
  color: #6AF9E2;
  text-align: center;
  font-size: 20px;
}

.heading {
  color: #fff;
  text-align: center;
  font-size: 45px;
  font-weight: bolder;
}

.pBox {
  padding: 20px;
  width: clamp(500px, 50vw, 500px);
  background-color: #15223E;
  color: #8791AD;
  font-size: 16px;
  margin-bottom: 30px;
}

.buttonBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.skillLine {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin: 10px;
}

.skillBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  width: clamp(500px, 70vw, 700px);
  color: #8791AD;
  font-size: 16px;
  list-style-type: none;
  text-align: center;
}

.contactMsg {
  margin-top: 20px;
  font-size: 30px;
  font-size: clamp(16px, 3vw, 25px);
  color: #8692B0;
  font-weight: bold;
  width: 50vw;
}

.contactContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;
}


@media all and (max-width: 768px) {
  .pBox {
    width: 70vw;
    margin-top: 0;
  }

  .skillBox {
    display: flex;
    flex-direction: column;
    top: 0px;
    width: 50vw;
    text-align: left;
  }

  .skillLine {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
    margin-left: 60px;
    width: 80vw;
  }
}




